@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

_cachedHtmlElementRecord: @(_cachedHtmlElementRecord?.HtmlElementRecordKey.Id.ToString() ?? "null")
_cachedGridTabContainerRecord: @(_cachedGridTabContainerRecord?.GridRecordKey.GridTabRecordId.ToString() ?? "null")

@if (_cachedHtmlElementRecord is not null && 
     _cachedGridTabContainerRecord is not null)
{
    <div  class="bwmt_grid-display-theme-wrapping @GetCssClasses()">
        <div class="bwmt_grid-display"
             style="@_cachedHtmlElementRecord.DimensionsRecord.BuildCssStyleString()">
            <BlazorWindowManager.RazorClassLibrary.Transformative.TransformativeDisplay HtmlElementRecord="_cachedHtmlElementRecord"
                                                                                        @ref="_transformativeDisplay" />
        
            @if (_cachedGridTabContainerRecord.ActiveTabIndex is not null)
            {
                <div class="bwmt_grid-display-tabs">
                    @for (int i = 0; i < _cachedGridTabContainerRecord.GridTabRecords.Length; i++)
                    {
                        var tabIndex = i;
                        var gridTabRecord = _cachedGridTabContainerRecord.GridTabRecords[tabIndex];

                        <GridTabDisplay GridTabRecord="gridTabRecord"
                                            GridRecordKey="GridRecord.GridRecordKey"
                                            ActiveTabIndex="_cachedGridTabContainerRecord.ActiveTabIndex.Value"
                                            MyTabIndex="tabIndex"
                                            AllowEmptyGrid="AllowEmptyGrid" />
                    }
                </div>
            }

                <div class="grid-body-display-wrapping"
                     style="height: calc(@_cachedHtmlElementRecord.DimensionsRecord.Height.BuildCssStyleString() - 32px);">

                    <GridBodyDisplay RenderedContentType="GetGridBodyRenderedContentType()"
                                     EmptyGridTabContainerRenderFragment="EmptyGridTabContainerRenderFragment" />
            </div>
        </div>
    </div>
}
